html {
  --accent-bg: #16607e;
  --accent-bg-hover: #1585b3;
  --accent-txt: #fff;
  --circle-bg: #2385ad;

  --header-bg: #fff;
  --header-txt: #3c4349;

  --footerTop-bg: #16607e;
  --footerTop-txt: #fff;

  --second-bg: #f7faff;
  --second-txt: #3c4349;

  --menu-presto: #2385ad;
  --borderColor1-2: #2385ad;
  --borderColor1-1: #10465c;
  --bg2: #134d64;
}
