header {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  height: 70px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 18px 20px -22px #000;
  height: 100%;
  width: 100% !important;
  max-width: 1280px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

header nav .rightDiv {
  padding-right: 0;
  display: flex;
  box-shadow: 1px 0px var(--borderColor1-1);
}

header nav .rightDiv .logoutBtn {
  background: var(--footerTop-txt);
  font-size: 13px;
  font-weight: 500;
  border: none;
  padding: 0 15px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  color: var(--footerTop-bg);
  cursor: pointer;
}

header nav .rightDiv .logged-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

header nav .rightDiv .logged-container .userDropDown {
  display: flex;
  position: relative;
}

header nav .rightDiv .logged-container .userDropDown > i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-left: 1px solid var(--borderColor1-2);
  box-shadow: -1px 0px var(--borderColor1-1);
  cursor: pointer;
}

header nav .rightDiv .logged-container .userDropDown > i:hover {
  background: var(--accent-bg);
  color: var(--accent-txt);
}

header nav .rightDiv .logged-container .userDropDown:hover .userDropDown-drop {
  display: flex !important;
}

header nav .rightDiv .logged-container .userDropDown-drop {
  position: absolute;
  z-index: 1;
  bottom: 0;
  transform: translateY(100%);
  background: var(--bg2);
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 240px;
  display: none;
  transition: 0.3s;
}

header nav .rightDiv .logged-container .userDropDown-drop ul {
  display: flex;
  flex-flow: column;
  width: 100%;
}

header nav .rightDiv .logged-container .userDropDown-drop li {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  border-bottom: 1px solid var(--accent-txt);
  cursor: pointer;
  transition: 0.3s;
}

header nav .rightDiv .logged-container .userDropDown-drop li:hover {
  background: var(--accent-bg);
  color: var(--accent-txt);
}

header nav .rightDiv .logged-container .userDropDown-drop li:last-child {
  border-bottom: 0;
}

header nav .rightDiv .logged-container .balance {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

header nav .rightDiv .logged-container .balance > i {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  border-left: 1px solid var(--borderColor1-2);
  box-shadow: -1px 0px var(--borderColor1-1);
}

header nav .rightDiv .logged-container .balance > i:hover {
  background: var(--accent-bg);
  color: var(--accent-txt);
}

header nav .rightDiv .logged-container .balance > div > span {
  padding-right: 5px;
}

header nav .rightDiv .logged-container .balance > div > span:last-child {
  margin-right: 20px;
}

header nav .rightDiv .logged-container .balance .wallet-wrapper {
  position: relative;
}

header nav .rightDiv .logged-container .balance .wallet-wrapper:hover .wallet-dropdown {
  display: block;
}

header nav .rightDiv .logged-container .balance .wallet-dropdown {
  display: none;
  position: absolute;
  background: var(--accent-col);
  right: 0;
  width: 100px;
  text-align: right;
  box-shadow: 2px 2px 9px 0px black;
  top: 28px;
}

header nav .rightDiv .logged-container .balance .wallet-dropdown > div {
  display: flex;
  justify-content: space-evenly;
}

header nav .rightDiv .logged-container .balance .wallet-dropdown > div > span {
  display: block;
  width: 50%;
  line-height: 20px;
}

header nav .rightDiv .logged-container .balance .wallet-dropdown > div > span:last-child {
  width: 30px;
  text-align: left;
}

header nav .rightDiv .logged-container > button {
  background: var(--accent-bg);
  color: var(--accent-txt);
  border: 0;
  height: 23px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 10px;
}

header nav .rightDiv .logged-container .icons {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

header nav .rightDiv .logged-container .icons i {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-right: 1px solid var(--accent-col);
  box-shadow: 1px 0px var(--accent-txt);
  font-size: 20px;
  opacity: 0.6;
}

header nav .rightDiv .logged-container .icons i:hover {
  opacity: 1;
}

header nav .rightDiv .lang {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  border-left: 1px solid var(--borderColor1-2);
  border-right: 1px solid var(--borderColor1-2);
  box-shadow: -1px 0px var(--borderColor1-1);
  padding: 0 10px;
}

header nav .rightDiv .lang > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

header nav .rightDiv .lang > div > img {
  width: 23px;
  margin-right: 5px;
}

header nav .rightDiv .lang > div > i {
  margin-left: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .rightDiv .lang .dropDown {
  position: absolute;
  right: 0;
  bottom: 0px;
  transform: translateY(100%);
  z-index: 1;
  width: 100px;
  background: var(--bg2);
  display: flex;
  text-transform: uppercase;
  flex-flow: column;
  overflow: hidden;
}

header nav .rightDiv .lang .dropDown.dropDown:after {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #0000001c;
  display: block;
  content: '';
  transform: translate(10px, 10px);
}

header nav .rightDiv .lang .dropDown-item {
  padding: 3px 10px;
  border-bottom: 1px solid var(--borderColor1-1);
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header nav .rightDiv .lang .dropDown-item img {
  width: 16px;
  margin-right: 5px;
  height: 18px;
  object-fit: contain;
}

header nav .rightDiv .lang .dropDown-item:hover {
  background: var(--accent-bg);
  color: var(--accent-col);
}
/*# sourceMappingURL=header.css.map */