{
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "lib" }, "antd"]
  ]
}

//   "plugins": [
//     ["import", { "libraryName": "antd", "libraryDirectory": "lib"}, "antd"],
//   ]
